<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
    <BoostrapVueComponent />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src
import BoostrapVueComponent from "@/components/BoostrapVueComponent.vue";

@Component({
  components: {
    HelloWorld,
    BoostrapVueComponent,
  },
})
export default class HomeView extends Vue {}
</script>
